.characterPage {
  padding: 16px;
}

.characterPage-header {
  padding-bottom: 16px;
}

.characterPage-title {
  font-size: var(--mantine-font-size-lg);
  text-align: center;
}

.characterPage-tabs {
  margin-top: 24px;
}

.characterPage-tabList {
  margin-bottom: 12px;
}

.characterPage-tab[data-active] {
  color: var(--mantine-primary-color-filled);
}
